<div ng-controller="MakerController as MC">
    <div ng-bind-html="jsonHtml.html"></div>
    <div class="well">
        <div ng-repeat="field in fields">
            <div ng-bind-html="field.html"></div>
            <br>
        </div>
    </div>
</div>
