<div ng-controller="MakerController as MC">
    <div>
        <div ng-repeat="field in fields">
            <div class="form-group col-md-4">
                <label>{{field.tag}}</label>
                <div ng-bind-html="field.html"></div>
                <br>
            </div>
        </div>
    </div>
</div>
